<div class="row">
    <div class="col-md-6">
      <div class="box box--download" [routerLink]="['../upload']">
        <span class="emoji emoji-L 📑">📑</span>
        <div class="description text-bold">
          Opción con plantilla
        </div>
        <div class="description dl-text-paragraph">
          Recomendable para crear tu pedido mediante <br />
          una plantilla en Excel.
        </div>
        <a class="box__link text-warn"
          ><span><b>Crear pedido por plantilla</b></span>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box--download" [routerLink]="['../add']">
        <span class="emoji emoji-L 🛒">🛒</span>
        <div class="description text-bold">
          Opción por producto
        </div>
        <div class="description dl-text-paragraph text-darkest">
          Recomendable para pedidos pequeños, agregando <br />
          producto por producto.
        </div>
        <a class="box__link text-warn"
          ><span><b>Crear pedido por producto</b></span>
        </a>
      </div>
    </div>
  </div>