.row {
    display: flex;
    margin: auto;
    gap: 3rem;
    max-width: 1000px;
    width: 100%;
    & .col-md-6 {
        flex: 1;
    }
}

.box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    min-height: 248px;
    padding: 25px;
    .description {
      text-align: center;
    }

    &--download {
      border: 1px solid #E0DCDC;
      cursor: pointer;
      &:hover {
        background-color: #F9F6F6;
        border: 1px solid #E62020;
      }
      .description {
        color: #2F1515;
      }
    }
  
    &__link {
      display: flex;
      align-items: center;
      cursor: pointer;
      outline: none;
      border: none;
      white-space: nowrap;
      text-decoration: none;
      gap: 0.075rem;
    }
  }