<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="products">
    <form [formGroup]="productForm">
        <div class="flex flex-col flex-auto p-8">
            <ng-container *transloco="let t">
                <div class="text-4xl font-extrabold tracking-tight mb-7">{{ id.value ? 'Editar producto' : 'Producto nuevo' }}</div>
            </ng-container>
            <div class="flex">
                <div class="w-1/3 pr-2.5">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>SKU</mat-label>
                        <input
                            formControlName="sku"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese SKU'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-2/3 pl-1.5">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Nombre Producto</mat-label>
                        <input
                            formControlName="name"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Nombre Producto'"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="flex space-x-4" formArrayName="descriptions">
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label
                            >Descripciones (puede ingresar hasta 3
                            direcciones)</mat-label
                        >
                        <input
                            [formControl]="descriptions.controls[0]"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descripcion'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label></mat-label>
                        <input
                            [formControl]="descriptions.controls[1]"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descripcion'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label></mat-label>
                        <input
                            [formControl]="descriptions.controls[2]"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descripcion'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label></mat-label>
                        <input
                            [formControl]="descriptions.controls[3]"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descripcion'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label></mat-label>
                        <input
                            [formControl]="descriptions.controls[4]"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descripcion'"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="category" placeholder="Seleccione categoria">
                            <mat-option
                                *ngFor="let category of categories"
                                [value]="category._id"
                            >
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Marca</mat-label>
                        <mat-select formControlName="brand" placeholder="Seleccione marca">
                            <mat-option
                                *ngFor="let brand of brands"
                                [value]="brand._id"
                            >
                                {{ brand.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Unidad</mat-label>
                        <mat-select formControlName="unid" placeholder="Seleccione unidad">
                            <mat-option
                                *ngFor="let unid of units"
                                [value]="unid._id"
                            >
                                {{ unid.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Precio lista</mat-label>
                        <span matPrefix>S/. &nbsp;</span>
                        <input
                            type="number"
                            formControlName="listprice"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'000.00'"
                        />
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Descuento</mat-label>
                        <input
                            type="number"
                            formControlName="discount"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Ingrese descuento'"
                        />
                        <span matSuffix>%</span>
                    </mat-form-field>
                </div>
                <div class="w-1/3">
                    <mat-form-field class="min-w-full" [floatLabel]="'always'">
                        <mat-label>Stock</mat-label>
                        <input
                            formControlName="stock"
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Stock'"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="w-full">
                    <app-file-uploader
                        [maxFileSize]="3000000"
                        [maxFiles]="3"
                        [files]="files"
                        (filesLoaded)="getFilesLoades($event)"
                        (filesDeleted)="getFileRemoved($event)"
                    ></app-file-uploader>
                </div>
            </div>
        </div>
    </form>

    <div class="bg-slate-50 py-4 px-8 flex justify-end space-x-4">
        <button mat-stroked-button (click)="cancel()">
            <span>Cancelar</span>
        </button>
        <button
                    class=""
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="productForm.disabled"
                    (click)="submitForm()">
                    <span *ngIf="!productForm.disabled">
                        {{ id.value ? 'Actualizar' : 'Crear' }}
                    </span>
                    <mat-progress-spinner
                        *ngIf="productForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
    </div>
</div>
