<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Sales</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search products'"
                />
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="addNewOrder()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            @if (products$ | async; as products) {
                @if (products.length > 0) {
                    <div class="grid">
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'status'">
                                Estado de orden
                            </div>
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'name'">
                                Nombre
                            </div>
                            <div [mat-sort-header]="'mount'">Monto</div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'createdAt'">
                                Fecha de creación
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'updatedAt'">
                                Fecha de modificación
                            </div>
                            <div class="hidden sm:block">Detalles</div>
                        </div>

                        @if (products$ | async; as products) {
                            @for (
                                product of products;
                                track trackByFn($index, product)
                            ) {
                                <div
                                    class="inventory-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >

                                    <!-- dispatchStatus -->
                                    <div class="hidden truncate md:block">
                                        {{ product.dispatchStatus }}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{ product.client.comercialName }}
                                    </div>

                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{
                                            product.salesTotalNC
                                                | currency
                                                    : 'USD'
                                                    : 'symbol'
                                                    : '1.2-2'
                                        }}
                                    </div>

                                    <!-- Created At -->
                                    <div class="hidden truncate md:block">
                                        {{ product.createdAt | date: 'MMM dd, h:mm a' }}
                                    </div>

                                    <!-- updated At -->
                                    <div class="hidden truncate md:block">
                                        {{ product.updatedAt | date: 'MMM dd, h:mm a' }}
                                    </div>


                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="h-7 min-h-7 min-w-10 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(product.id)"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    selectedProduct?.id ===
                                                    product.id
                                                        ? 'heroicons_solid:chevron-up'
                                                        : 'heroicons_solid:chevron-down'
                                                "
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    @if (selectedProduct?.id === product.id) {
                                        <ng-container
                                            *ngTemplateOutlet="
                                                rowDetailsTemplate;
                                                context: { $implicit: product }
                                            "
                                        ></ng-container>
                                    }
                                </div>
                            }
                        }
                      
                            <!-- <ng-container *ngFor="let order of ordersFiltered; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <div class="hidden md:block truncate">
                                        <span class="p-2"  >
                                            {{order.order_status.name}}
                                        </span>
                                    </div>
                                    <div class="truncate">
                                         {{order.customer_id.full_name.name}}
                                    </div>
                                    <div class="truncate">
                                        {{order.customer_id.full_name.lastName}}
                                    </div>
                                    <div class="truncate">
                                      S/.  {{order.ammount | number:'1.2-2'}}
                                    </div>
                                    <div class="truncate">
                                        {{formatoFecha(order.createdAt)}}
                                    </div>
                                        <div class="truncate">
                                        {{formatoFecha(order.updatedAt)}}
                                    </div>
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(order._id, selectedOrder?._id === order._id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedOrder?._id === order._id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedOrder?._id === order._id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: order}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container> -->
                      
                    </div>
                } @else {
                    <div
                        class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                    >
                        There are no products!
                    </div>
                }
            }
            

            <ng-template
                #rowDetailsTemplate
                let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <div  class="flex flex-col w-full pt-8" >
                            <div *ngFor="let product of products" class="flex flex-col sm:flex-row px-8 pt-1">
                                <div  class="flex flex-auto flex-wrap">
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <p>SKU: {{product.sku}}</p>
                                        <br/>
                                    </div>
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <p>cantidad: {{product.quantity | number:'2.0'}}</p>
                                    </div>
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <p>precio: S/. {{product.price | number:'1.2-2'}}</p>
                                    </div>
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <p>total: S/. {{product.totalCost | number:'1.2-2'}}</p>
                                    </div>

                                </div>

                            </div>
                       
                                <div  class="flex flex-col sm:flex-row px-8 pt-1" >
                                    <mat-form-field class="ancho-select"  >
                                        <mat-label>Estado de orden</mat-label>
                                        <mat-select [(value)]="orderStatusSelected" >
                                            <mat-option *ngFor="let statusOrder of statusOrders" [value]="statusOrder._id">
                                                {{statusOrder.name}}
                                            </mat-option>
                                        </mat-select>                         
                                    </mat-form-field>
                            </div>
                          

                            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                           
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="seeMessage">
                                        <ng-container *ngIf="flashMessage">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Se actualizo la orden</span>
                                        </ng-container>
                                        <ng-container *ngIf="!flashMessage">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">Ocurrio un error</span>
                                        </ng-container>
                                    </div>
                                    <ng-container *ngIf="selectedOrderForm.get('id').value !== -1;else nuevoProducto" >
                                
                                    <div class="w-full max-w-80 sm:w-24 mx-auto sm:mx-0">
                                        <button
                                            class="fuse-mat-button-large w-full "
                                            mat-flat-button
                                            [color]="'primary'"
                                            [disabled]="isLoading"
                                            (click)="updateselectedOrder(selectedOrderForm.get('id').value)">
                                            <span *ngIf="!isLoading">
                                                Actualizar
                                            </span> 
                                            <mat-progress-spinner
                                                *ngIf="isLoading"
                                                [diameter]="22"
                                                [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                    
                                    </ng-container>
                                    <ng-template #nuevoProducto>
                                        <button
                                            mat-flat-button
                                            [color]="'primary'"
                                            (click)="crearNuevoProducto()">
                                            Crear nuevo producto
                                        </button>
                                    </ng-template>
                                    
                                    
                              
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>

        </div>

    </div>
</div>
