<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        @if (isLoading) {
        <div class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Sales</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mr-2" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Search products'" />
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <!-- <mat-label>Status</mat-label> -->
                <mat-select [formControl]="status">
                    @for (
                    status of statusList;
                    track status
                    ) {
                    <mat-option [value]="status">
                        {{ status }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['new']">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            @if (sales$ | async; as sales) {
            @if (sales.length > 0) {
            <div class="grid">
                <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSort matSortDisableClear>
                    <div class="hidden md:block" [mat-sort-header]="'client'">
                        Cliente
                    </div>
                    <div class="hidden md:block" [mat-sort-header]="'document'">
                        Documento
                    </div>
                    <div class="hidden md:block" [mat-sort-header]="'serie'">
                        Serie
                    </div>
                    <div class="hidden md:block" [mat-sort-header]="'documentNumber'">
                        Numero documento
                    </div>

                    <div class="hidden md:block" [mat-sort-header]="'salesTotal'">
                        Precio Venta Final
                    </div>

                    <div class="hidden md:block" [mat-sort-header]="'status'">
                        Estado
                    </div>

                    <div class="hidden md:block">Acciones</div>
                </div>

                @if (sales$ | async; as sales) {
                @for (
                sale of sales;
                track trackByFn($index, sale)
                ) {
                <div class="inventory-grid grid items-center gap-4 border-b px-6 py-3 md:px-8">

                    <!-- comercialName -->
                    <div class="hidden truncate md:block">
                        {{ sale.client.comercialName }}
                    </div>

                    <!-- document -->
                    <div class="hidden truncate md:block">
                        {{ sale.document.description }}
                    </div>

                    <!-- serie -->
                    <div class="hidden truncate md:block">
                        {{ sale.serie }}
                    </div>

                    <!-- documentNumber -->
                    <div class="hidden truncate md:block">
                        {{ sale.documentNumber }}
                    </div>

                    <!-- Price -->
                    <div class="hidden truncate md:block">
                        {{
                        sale.salesTotalNC
                        | currency
                        : 'USD'
                        : 'symbol'
                        : '1.2-2'
                        }}
                    </div>

                    <!-- status -->
                    <div class="hidden truncate md:block">
                        status
                    </div>

                    <!-- accions -->
                    <div class="hidden md:block">
                        <span class="whitespace-nowrap">
                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-flat-button
                                matTooltip="Editar producto" (click)="editSaleNote(product._id)">
                                <mat-icon class="icon-size-5 editIcon" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                            </button>
                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-flat-button
                                matTooltip="Eliminar nota venta" (click)="deleteSaleNote(product._id)">
                                <mat-icon class="icon-size-5 deleteIcon" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </button>
                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6 printIcon" mat-flat-button
                                matTooltip="Imprimir nota venta" (click)="printSaleNote(product._id)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            </button>
                        </span>
                    </div>

                </div>
                }
                }

            </div>
            } @else {
            <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                There are no products!
            </div>
            }
            }

        </div>
    </div>
</div>
