.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 12rem 9rem 6rem 9rem 10rem 6rem;
    }

    @screen lg {
        grid-template-columns: 12rem 9rem 6rem 9rem 10rem 6rem;
    }
}

.editIcon:hover{
    color: blue !important;
}
.deleteIcon:hover{
    color: red !important;
}