<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative py-8 px-6 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <ng-container *transloco="let t">
            <div class="text-4xl font-extrabold tracking-tight"> Cuentas Bancarias </div>
        </ng-container>
        <!-- Actions -->
        <div class="
                    w-full
                    flex flex-col
                    sm:flex-row
                    flex-0
                    sm:items-end sm:justify-between
                ">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-4/12 pr-4"
                [floatLabel]="'always'"
                >
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <mat-label>Buscar</mat-label>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar cuenta bancaria'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4 w-3/12 pr-4"
                mat-flat-button
                [color]="'primary'"
                (click)="addNewAccountBank()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar cuenta</span>
            </button>
        </div>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- accountBanks list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="!(isLoading && accountBanks.length === 0); else loadingAccountBanks">
                <ng-container *ngIf="accountBanks.length > 0 && accountBanksFiltered.length > 0 ; else noCategories">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
    
                            <div 
                                class="hidden md:block"
                                [mat-sort-header]="'entity'">
                                Entidad
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'currency'">
                                Moneda
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'numberAccount'">
                                Número Cuenta
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'createdAt'">
                                Fecha de creación
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'updatedAt'">
                                Fecha de modificación
                            </div>
                            <div class="hidden sm:block">Detalles</div>
                        </div>
                        <!-- Rows -->
                      
                            <ng-container *ngFor="let accountBank of accountBanksFiltered; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- Name -->
                                    <div class="truncate">
                                        {{ accountBank.entity }}
                                    </div>
                                    <!-- thumbnail -->
                                    <div class="truncate">
                                        {{ accountBank.currency }}
                                    </div>

                                    <div class="truncate">
                                        <span matTooltip="{{ accountBank.numberAccount }}" >
                                            {{ accountBank.numberAccount }}
                                        </span>
                                    </div>
                                    
                                    <!-- creation date      accountBank.createdAt -->
                                    <div class="truncate">
                                        {{formatoFecha(accountBank.createdAt)}}
                                    </div>
                                    <!-- update date -->
                                        <div class="truncate">
                                        {{formatoFecha(accountBank.updatedAt)}}
                                    </div>
                     

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(accountBank._id, selectedAccountBank?._id === accountBank._id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedAccountBank?._id === accountBank._id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedAccountBank?._id === accountBank._id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: accountBank}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                      
                    </div>

                </ng-container>
            </ng-container>
            

            <ng-template
                #rowDetailsTemplate
                let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="accountBankForm">

                            <div class="flex flex-col sm:flex-row p-8">

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                        <!-- Name -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Entidad</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'entity'">
                                        </mat-form-field>

                                        <mat-form-field class="w-full">
                                            <mat-label>Tipo Cuenta</mat-label>
                                            <mat-select formControlName="typeAccount" placeholder="Seleccione moneda">
                                                <mat-option
                                                    *ngFor="let typeAccount of typeAccountList"
                                                    [value]="typeAccount"
                                                >
                                                {{ typeAccount }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="w-full">
                                            <mat-label>Moneda</mat-label>
                                            <mat-select formControlName="currency" placeholder="Seleccione moneda">
                                                <mat-option
                                                    *ngFor="let currency of currencyList"
                                                    [value]="currency"
                                                >
                                                {{ currency }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Titular</mat-label>
                                            <input
                                                matInput
                                                [imask]="maskForInput"
                                                [formControlName]="'owner'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Numero Cuenta</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'numberAccount'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>CCI</mat-label>
                                            <input
                                                matInput
                                                [imask]="maskForInputCCI"
                                                [formControlName]="'cciAccount'">
                                        </mat-form-field>

                                        <div class="flex">
                                            <mat-form-field *ngIf="accountBankForm.get('_id').value !== '-1' " class="w-1/2 pr-2">
                                                <mat-label>Fecha de creación</mat-label>
                                                <input readonly
                                                    matInput
                                                    [formControlName]="'createdAt'">
                                            </mat-form-field>
                                            <mat-form-field *ngIf="accountBankForm.get('_id').value !== '-1' "  class="w-1/2 pr-2">
                                                <mat-label>Fecha de actualización</mat-label>
                                                <input readonly
                                                    matInput
                                                    [formControlName]="'updatedAt'">
                                            </mat-form-field>
                                        </div>
                                        
                                    </div>


                                </div>

                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedAccountBank()">
                                    Eliminar
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="seeMessage">
                                        <ng-container *ngIf="flashMessage">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">{{successMessage}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="!flashMessage">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">un error occurrió, prueba de nuevo!</span>
                                        </ng-container>
                                    </div>
                                    <ng-container *ngIf="accountBankForm.get('_id').value !== '-1';else nuevaCuentaBancaria" >
                                        <button
                                            mat-flat-button
                                            [disabled] = "!accountBankForm.valid"
                                            [color]="'primary'"
                                            (click)="updateSelectedAccountBank()">
                                            Actualizar
                                        </button>
                                    </ng-container>
                                    <ng-template #nuevaCuentaBancaria>
                                        <button
                                            mat-flat-button
                                            [disabled] = "!accountBankForm.valid"
                                            [color]="'primary'"
                                            (click)="createNewAccountBank()">
                                            Crear cuenta
                                        </button>
                                    </ng-template>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noCategories>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay cuentas bancarias!</div>
            </ng-template>
            <ng-template #loadingAccountBanks>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Cargando lista de cuentas bancarias</div>
            </ng-template>

        </div>

    </div>




</div>
