<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        @if(isLoading){
        <div class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        }
        <!-- Title -->
        <ng-container *transloco="let t">
            <div class="text-4xl font-extrabold tracking-tight">Marca</div>
        </ng-container>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mr-2" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Buscar marca'">
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [disabled]="canDisableButtonAddNewBrand" [color]="'primary'"
                (click)="createBrand()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar nueva marca</span>
            </button>
        </div>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- payment Methods list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            @if(!(isLoading && brands.length === 0)){
                @if(brands.length > 0 && brandsFiltered.length > 0){
                    <div class="grid">
                        <!-- Header -->
                        <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>

                            <div class="hidden md:block" [mat-sort-header]="'description'">
                                Descripción
                            </div>
                            <div class="hidden lg:block" [mat-sort-header]="'createdAt'">
                                Fecha de creación
                            </div>
                            <div class="hidden lg:block" [mat-sort-header]="'updatedAt'">
                                Fecha de modificación
                            </div>
                            <div class="hidden sm:block">Detalles</div>
                        </div>
                        <!-- Rows -->

                        <ng-container *ngFor="let brand of brandsFiltered; trackBy: trackByFn">
                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <!-- descripcion -->
                                <div class="truncate">
                                    {{brand.description }}
                                </div>
                                <!-- creation date -->
                                <div class="truncate">
                                    {{formatoFecha(brand.createdAt)}}
                                </div>
                                <!-- update date -->
                                <div class="truncate">
                                    {{formatoFecha(brand.updatedAt)}}
                                </div>

                                <!-- Details button -->
                                <div>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                        (click)="toggleDetails(brand._id)">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="selectedBrand?._id === brand._id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid">
                                @if(selectedBrand?._id === brand._id){
                                <ng-container
                                    *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: brand}"></ng-container>
                                }
                            </div>
                        </ng-container>

                    </div>
                }@else{
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay marcas!</div>
                }
            }@else{
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Cargando lista de marcas
                </div>
            }

            <ng-template #rowDetailsTemplate let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <div class="flex flex-col w-full" [formGroup]="selectedBrandForm">
                            <div class="relative flex-row flex-0 mx-3 p-8">
                                <div class="flex">
                                    <div class="w-9/12">
                                        <mat-form-field class="pr-2" style="width: 100%;">
                                            <mat-label>Descripción</mat-label>
                                            <input [imask]="maskForInput" matInput [formControlName]="'description'">
                                        </mat-form-field>
                                    </div>
                                    <div class="w-3/12">
                                        <mat-form-field class="pr-2" style="width: 100%;">
                                            <mat-label>Abreviacion</mat-label>
                                            <input [imask]="maskForInput" matInput [formControlName]="'abreviation'">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="relative flex flex-0 ">
                                    <div class="w-6/12">
                                        <div class="relative flex flex-0 mt-2">
                                            @if(selectedBrandForm.get('createdAt').value !== ''){
                                            <mat-form-field class="w-6/12 pr-2">
                                                <mat-label>Fecha de creación</mat-label>
                                                <input readonly matInput [formControlName]="'createdAt'">
                                            </mat-form-field>
                                            }
                                            @if(selectedBrandForm.get('updatedAt').value !== ''){
                                            <mat-form-field class="w-6/12 pr-2">
                                                <mat-label>Fecha de actualización</mat-label>
                                                <input readonly matInput [formControlName]="'updatedAt'">
                                            </mat-form-field>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                    <button class="-ml-4" mat-button [color]="'warn'"
                                        (click)="deleteSelectedBrand(selectedBrandForm.get('id').value)">
                                        Eliminar
                                    </button>
                                    <div class="flex items-center">
                                        @if(seeMessage){
                                        <div class="flex items-center mr-4"> <!-- seeMessage -->
                                            @if(flashMessage){<!-- flashMessage -->
                                            <mat-icon class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">{{successMessage}}</span> <!-- {{successMessage}} -->
                                            }
                                            @if(!flashMessage){<!-- !flashMessage -->
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">un error occurrió, prueba de nuevo!</span>
                                            }
                                        </div>
                                        }
                                        @if(selectedBrandForm.get('id').value !== '-1'){
                                        <div class="w-full max-w-80 sm:w-30 mx-auto sm:mx-0">
                                            <button class=" w-full " mat-flat-button
                                                [disabled]="!selectedBrandForm.valid || isLoading" [color]="'primary'"
                                                (click)="updateSelectedBrand(selectedBrandForm.get('id').value)">
                                                @if(!isLoading){
                                                <span>
                                                    Actualizar
                                                </span>
                                                }
                                                @if(isLoading){
                                                <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                                }
                                            </button>
                                        </div>
                                        }@else{
                                        <div class="w-full max-w-80 sm:w-30 mx-auto sm:mx-0">
                                            <button class=" w-full " mat-flat-button
                                                [disabled]="!selectedBrandForm.valid || isLoading" [color]="'primary'"
                                                (click)="createNewBrand()">
                                                @if(!isLoading){
                                                <span>
                                                    Crear
                                                </span>
                                                }
                                                @if(isLoading){
                                                <mat-progress-spinner [diameter]="22" [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                                }
                                            </button>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>

</div>